#id-body{
    background-color: #C0C0C0;
}

.div-1{
    background-color: white;
    height: 500px;
    width: 50vw;
    border: black 10px dotted;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-2-filha{
    background-color: yellow;
    height: 50px;
    width: 30%;
}

.div-3-filha{
    background-color:rgb(255, 165, 0);
    height: 100px;
    width: 30%;
}

.div-4-filha{
    background-color: rgb(0, 128, 0);
    color: white;
    font-size: 30px;
    padding: 50px;
    margin-left: 50px;
    margin-top: 50px;
}